.mesibo-chat-main-wraper
  padding 50px

.mesibo-chat-messages-wrapper
  display flex
  flex-direction column
  max-height 300px
  overflow auto
  .mesibo-chat-message-wrapper
    display flex
    .mesibo-chat-message-userName
      margin-right 10px
      font-weight bold
